@media only screen and (max-width: 1200px)
{
    header {
        height: 65vh;  /* 85% vertical height*/
    }
    .row {
        margin: 0 15px;
    }
    .hero-text-box {
        width: 90%;
    }
}

@media only screen and (max-width: 1024px)
{
    html {
        font-size: 57.5%;
     }
    header {
        height: 55vh;  /* 85% vertical height*/
    } 
    .mobile-menu span {
        display: block;
    }
    h1{
        font-size: 3.3rem;
    }
    .main-nav {
        display: none;
    }
    .client-photo {
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review {
        width: 100%;
        float: none;
        text-align: center;
    }
    .contact-section form {
        width: 100%;
        margin-left: 0;
    }
    .footer-section li a {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 980px)
{
    .span_1_of_4 {
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3) {
        margin-left: 0;
    }
    .span_1_of_2:nth-child(3) {
        margin-left: 0;
    }
    h1{
        font-size: 3.5rem;
        padding-top: 8rem;
    }
    #home {
        height: 40rem;
    }
    .btn, .btn:link, .btn:visited {
        margin-top: 3rem;
    }
    .services-section .little-description {
        margin-left: 20%;
    }
    .services-section .row {
        margin-left: 7rem;
    }
    .team-section .row {
        margin-left: 6.5rem;
    }
    .skill-section .row {
        margin-left: 8rem;
    }
    .skill-section h2 {
        margin-right: 5rem;
    }
    .skill-section .little-description {
        font-size: 1.5rem;
        margin-left: 18%;
    }
    .portfolio-section .row {
        margin-left: 7rem;
    }
    .testimonial .row {
        margin-left: 9rem;
        width: 80%;
    }
    .contact-section form {
        width: 70%;
        margin-left: 15%;
    }
}
@media only screen and (max-width: 768px)
{
    header {
        height: 60vh;  /* 85% vertical height*/
    } 
    .little-description {
        width: 90%;
        margin-left: 37px;
    }
    .portfolio-image {
        width: 100%;
        height: auto;
        margin-left: 7rem;
    }
    .span_1_of_2 {
        width: 45%;
    }
    h1 {
        margin-bottom: 1rem;
        padding-top: 4rem;
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
        margin-right: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    #home {
        height: 45rem;
    }
    .btn, .btn:link, .btn:visited {
        margin-top: 3rem;
    }
    .services-section .row {
        margin-left: 4rem;
    }
    .services-section .little-description {
        margin-left: 2%;
    }
    .portfolio-section .span_1_of_2 {
        width: 60%;
    }
    .portfolio-section .col:nth-child(3){
        float: none; 
    }
    .portfolio-section {
        text-align: center;
    }
    .contact-section input[type=email], 
    .contact-section input[type=text] 
    {
        margin-left: 3rem;
    }
    .contact-section textarea {
        width: 91%;
        margin-left: 1.1rem;
    }
    .footer-section li a {
        font-size: 1.3rem;
    }
    .testimonial .col:nth-child(1), 
    .testimonial .col:nth-child(3)
    {
        margin-left: 3rem;
    }
    .testimonial .col:nth-child(3), 
    .testimonial .col:nth-child(4)
    {
        margin-top: 3.5rem;
    }
}

@media only screen and (max-width: 480px)
{
    header {
        height: 85vh;  /* 85% vertical height*/
    } 
    .span_1_of_4 {
        width: 100%;
    }
    .portfolio-section {
        text-align: center;
    }
    .contact-section .span_1_of_2 {
        width: 95%;
    }
    .contact-section input[type=email], 
    .contact-section input[type=text] 
    {
        margin-left: 1.5rem;
    }
    .contact-section textarea {
        width: 95%;
        margin-left: .7rem;
    }
    .contact-section h2 {
        margin-left: 0rem;
    }
    .contact-section .little-description {
        margin-left: 2rem;
    }
    .footer-section li {
        margin: 1rem 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.2rem;
        margin-left: 4rem;
    }
    h3 {
        font-size: 2rem;
        margin-left: 4rem;
    }
    .testimonial .col:nth-child(3), 
    .testimonial .col:nth-child(4)
    {
        margin-top: 4rem;
    }
    
    .logo {
        margin-left: 2.7rem;
    }
    .services-icon {
        margin-left: 4rem;
    }
    .box p {
        margin-left: 3rem;
    }
    .team-member {
        margin-left: 3rem;
    }
    .role {
        margin-left: 4rem;
    }
    .skill-section h2 {
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .skill-section .little-description {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-left: 2.1rem;
    }
    svg.radial-progress {
        margin-left: 5rem;
    }
    .skill-section .box {
        margin-top: 3rem;
    }
    .portfolio-section .portfolio-filter {
        margin-left: 4rem;
    }
    .portfolio-image {
        margin-left: 1rem;
        width: 75%;
    }
    .portfolio-section .span_1_of_2 {
        width: 100%;
        margin-left: 2rem;
    }
    .portfolio-section h4 {
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
    .portfolio-section .col:nth-child(3){
        margin-left: 2.3rem;
    }
    .portfolio-section .btn-load-more {
        margin-left: 4rem;
    }
    .social-link{
        margin-left: 3rem;
    }
    .testimonial h2 {
        margin-left: 2.3rem;
    }
    .testimonial .little-description {
        margin-left: 2.5rem;
    }
    .client-photo img {
        margin-left: 0;
    }
    .client-review p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .client-review h3 {
        margin-left: -1rem;
    }
    .client-review .role {
        margin-left: -1rem;
    }
}
